:root {
font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
line-height: 1.5;
font-weight: 400;

color-scheme: light dark;
color: rgba(255, 255, 255, 0.87);
background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #fff;
  box-shadow: 0 0 10px rgba(131, 127, 127, 0.1);
}
.Navbar .navbar-logo {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

.Navbar .navbar-logo a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.Navbar .navbar-logo a:hover {
  color: blue;
  transition: all 0.5s ease-in-out;
}

.Navbar .navbar-menu {
  display: flex;
}

.Navbar .navbar-menu  .navbar-item {
  padding: 15px;
  list-style: none;
  font-size: 20px;
  font-weight: 500;
}

.Navbar .navbar-menu  .navbar-item a {
  text-decoration: none;
  color: #fff;
}

.Navbar .navbar-menu  .navbar-item a:hover {
  color: blue;
  transition: all 0.5s ease-in-out;
}

/* filepath: /d:/TAF/PROJETS/lexcam/src/Navbar.css */
/* .navbar-menu .navbar-item .active {
  font-weight: bold;
  color: #f31255;
  text-decoration: underline; */


section {
  display: flex;
  justify-content: center;
  width: 100vh;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

section .passer{
  margin-left: 90%;top: 0;
  background-color: #fff;
  color: #242424;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

section .passer:hover{
  background-image: url('/src/assets/images/arrow-right-solid.svg');
  background-size: cover;
  background-position: 100%;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 50vh;
  font-size: 10vh;
  border-bottom: 1px solid #666;
}


/* style du fichier penal.jsx */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  border-radius: 88px;
  background-color: #312f2f;
}

.penal-title h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.penal-title h1 {
  color: #fff;
  font-weight: bold;
  overflow-wrap: break-word;
}

.penal-title img {
  vertical-align: middle;
  margin: 0 10px;
  /* width: 65px; */
  height: 65px;
  border-radius: 100%;
}

.form {
  margin-top: 20px;
  width: 550px;
}

.form h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.form form {
  display: flex;
  flex-direction: column;
}

.form label {
  font-size: 16px;
  margin-bottom: 5px;
}

.form input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.form button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #0056b3;
}

 /* style du banniere.jsx */
 
.contain-cards {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  flex-wrap: wrap;
  
}

.contain-cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(155, 155, 155, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  max-width: 500px;
  height: 300px;
  box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.1);
}

.contain-cards .card:hover {
  background: rgba(155, 155, 155, 0.2);
  transition: all 0.5s ease-in-out;
  transform: scaleY(1.1);
}

.contain-cards .card .img-card img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.contain-cards .card .texte-card p {
  /* font-weight: bold; */
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.contain-cards .card .texte-card b{
  color: rgb(134, 128, 128);
}




/* style du fichier livrelist.jsx */

.Livrelist {
  background-color: #2E4053;
  width: 100%;
}

.livre {
  background-color: #34C759;
}




/* .template {
    position: relative;
    width: 50%;
    height: 100vh;
    overflow: hidden;
}

.message {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.firls-title {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.fade-enter {
    opacity: 0;
    transform: translateY(-20px);
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
}

.fade-exit {
    opacity: 1;
    transform: translateY(0);
}

.fade-exit-active {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 500ms, transform 500ms;
} */

/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
